<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insta Clone</title>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <li>{{message }}</li>
    {%endfor %}
    {% endif %}

    {% if user.is_authenticated %}
    <nav>
        <a href='{% url "add_post" %}'>Add new Post</a>
    </nav>
    {% endif %}
    
    {% block content %}
    {% endblock %}
</body>
</html>